@font-face {
	font-family: retro;
    src: url(../fonts/retro.ttf);
}
            
h2 {
	font-family: retro;
	padding-top:15px;
	padding-bottom:15px;
}    

.table td { text-align: center;}
.table th { text-align: center;}    

.title { 
	text-align:center;
	margin-top:15px;
	margin-bottom:15px; 
}

.tablecatalog{
	text-align:center;
	margin-top:15px;
}

#bill{
	display:none;
}

.center{
	text-align:center;
}

.left{
	text-align:left !important;
}
           